[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
pandas = "*"
my-lambdata-my-mod = "*"
twine = "*"

[requires]
python_version = "3.7"
